.hero {
  top: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-five {
  font-weight: 500;
  padding: 13px 26px;
  min-width: 150px;
  text-align: center;
  border-radius: 50px;
  color: #fff;
  background: #00bf58;
  transition: all 0.3s ease-in-out 0s;
}
.btn-five:hover {
  background: #244034;
  color: #fff;
}
.btn-five.border6 {
  border-radius: 6px;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

@media (max-width: 1199px) {
  .lg-pt-120 {
    padding-top: 120px !important;
  }
  .lg-pb-20 {
    padding-bottom: 20px !important;
  }
  .btn-five {
    padding: 11px 20px;
    min-width: 120px;
  }
}
