.grid-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.1rem;
  height: auto;
  cursor: pointer;
}

.card {
  transition: transform 0.3s ease-in-out; /* Smooth transition */
}

.card:hover {
  transform: scale(1.05); /* Slightly larger scale on hover */
  z-index: 1;
}

.card0 {
  grid-row: 1 / -3;
}

.card0 img {
  height: 100%;
}

.card-hover {
  width: 100%;
  display: none;
  padding: 1rem;
  transition: opacity 0.3s ease-in-out; /* Smooth fade-in transition */
  opacity: 0; /* Initially hidden */
}

.card:hover .card-hover {
  display: block;
  opacity: 1; /* Fade in on hover */
}
