#buyer .grid-card {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 0.1rem;
  /* height: auto; */
  cursor: pointer;
}

#buyer .card {
  transition: transform 0.3s ease-in-out; /* Smooth transition */
}

#buyer .card:hover {
  transform: scale(1.07); /* Slightly larger scale on hover */
  z-index: 1;
}

#buyer .card0 {
  grid-row: 1 / -3;
}

#buyer .card0 img {
  height: 100%;
}

#buyer .card-hover {
  position: relative;
  width: 100%;
  height: 0;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  overflow: hidden;
}
#buyer .card:hover .card-hover {
  opacity: 100;
  height: 5rem;
  position: absolute;
  bottom: 0;
  background-color: #fefefe;
}
