#employ .grid-card {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-gap: 0.1rem;
  height: auto;
  cursor: pointer;
}

#employ .card {
  transition: transform 0.3s ease-in-out; /* Smooth transition */
}

#employ .card:hover {
  transform: scale(1.2); /* Slightly larger scale on hover */
  z-index: 1;
}

#employ .card2 {
  grid-row: span 2;
}

#employ .card4 img {
  height: 100%;
}

#employ .card-hover {
  position: relative;
  width: 100%;
  height: 0;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  overflow: hidden;
}

#employ .card:hover .card-hover {
  opacity: 100;
  height: 5rem;
  position: absolute;
  bottom: 0;
  background-color: #fefefe;
}
