#employ .grid-card {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-gap: 0.1rem;
  height: auto;
  cursor: pointer;
}

#employ .card {
  transition: transform 0.3s ease-in-out; /* Smooth transition */
}

#employ .card:hover {
  transform: scale(1.05); /* Slightly larger scale on hover */
  z-index: 1;
}

#employ .card2 {
  grid-row: span 2;
}

#employ .card4 img {
  height: 100%;
}

#employ .card-hover {
  width: 100%;
  display: none;
  padding: 1rem;
  transition: opacity 0.3s ease-in-out; /* Smooth fade-in transition */
  opacity: 0; /* Initially hidden */
}

#employ .card:hover .card-hover {
  display: block;
  opacity: 1; /* Fade in on hover */
}
