nav.navbar.navbar-expand-lg {
  position: fixed;
  z-index: 1;
  width: 100%;
}
.navbar .container .logo img {
  height: 4rem !important;
  width: 4rem !important;
}
.style-none {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.login-btn-two {
  color: var(--green-primary);
}

.login-btn-two:hover {
  text-decoration: underline !important;
}
