.SiteMenu__card.Card {
  position: relative;
  height: 100%;
  z-index: 1;
  box-shadow: rgba(50, 50, 93, 0.25), 0 30px 60px -30px rgba(0, 0, 0, 0.3);
  margin: 58px;
}
.mega-menu-bg {
  background-color: rgba(198, 198, 198, 0.742);
}
