.nav-link {
  color: #fff;
}
.navbar-nav .nav-item .active {
  color: var(--green-primary) !important;
}

.navbar-nav .nav-item .nav-link:hover {
  color: var(--green-primary) !important;
}

/* mega menu */
.SiteMenu {
  display: inline-block;
  padding-top: 13px;
  transform-origin: 50% -50px;
  transition: 250ms;
  transition-property: transform, width, height;
  will-change: transform, width, height;
  z-index: 2;
  overflow: hidden;
}

.SiteHeader__menu {
  position: absolute;
  top: 50%;
  left: 0;
  width: 50vw;
}
